@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: env(safe-area-inset-top, 20px);
  padding-bottom: env(safe-area-inset-bottom, 20px);
  -webkit-tap-highlight-color: transparent;
}